{
  "eslintIntegration": false,
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false,
  "editor.maxTokenizationLineLength": 200000,
  "editor.formatOnSave": true,
  "proseWrap": "always",
  "requireConfig": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": false
}
